<div class="container">
  <div class="top">
    <h2>Add Station to a Line</h2>
  </div>
  <div class="row" *ngIf="!isStart">
    <div class="col-4">
      <div class="card align-items-center justify-content-center">
        <div class="card-body">
          <h1><span class="material-symbols-outlined">train</span><span class="display-6 mx-3">{{line.name}} Line</span></h1>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card align-items-center justify-content-center">
        <div class="card-body">
          <h1><span class="material-symbols-outlined">arrow_back </span>
            <span class="h2 ma-1">{{searchText}}</span>
            <span class="material-symbols-outlined"> arrow_forward</span></h1>
        </div>
      </div>
    </div>
    <div class="col-4 ">
      <div class="card align-items-center justify-content-center">
        <div class="card-body">
          <h1><span class="h2 mx-1">{{lineStation.station.name}}</span></h1>
        </div>
      </div>
    </div>
    <form class="row g-3">
      <div class="col-md-4">
        <label for="stationName" class="form-label">Station Name</label>
        <input class="form-control" type="text" name="from" [(ngModel)]="showStation" placeholder="Station Name" (keyup)="getStationName()" required />
            <ul class="list-group">
                <li class="list-group-item" (click)="stationSelect(show)" *ngFor="let show of getStations">{{show.name}}</li>
            </ul>
      </div>
      <div class="col-md-4">
        <label for="distance" class="form-label">Distance</label>
        <input type="text" class="form-control" id="distance" [(ngModel)]="distance"  name="distance" placeholder="Enter The Distance">
      </div>
      <div class="col-4 mt-4"><button type="button" class="btn btn-primary mt-3 " (click)="insertStation()">Add Station</button></div>
    </form>
  </div>
  
  <div class="row "*ngIf="isStart">
    <div class="card col-4 mx-3 align-items-center justify-content-center" >
        <div class="card-body">
          <h1><span class="material-symbols-outlined">train</span>
            <span class="display-6 mx-3">{{line.name}} Line</span></h1>
        </div>
    </div>
    <div class="card col-4 align-items-center justify-content-center" >
      <div class="card-body ">
        <h1><span class="material-symbols-outlined">arrow_forward</span>
          <span class="material-symbols-outlined">arrow_back</span>
          <span class="h2 ma-1">{{searchText}}</span></h1>
      </div>
    </div>
    <form class="row g-3">
      <div class="col-md-4">
        <label for="inputStation" class="form-label">Station Name</label>
        <input class="form-control" type="text" name="from" [(ngModel)]="showStation" placeholder="Station Name" (keyup)="getStationName()" required />
            <ul class="list-group">
                <li class="list-group-item" (click)="stationSelect(show)" *ngFor="let show of getStations">{{show.name}}</li>
            </ul>
      </div>
      <div class="col-md-4">
        <label for="inputDistance" class="form-label">Distance</label>
        <input type="text" class="form-control" id="inputPassword4" placeholder="Enter The Distance">
      </div>
      <div class="col-4 mt-4">
        <button type="button" class="btn btn-primary mt-3 " (click)="addEndStation()">Add End Station</button></div>
    </form>
    
  </div>
</div>
