<div class="container">
    <h2>Travel Planner</h2>
    <div class=" g-3 row">
        <div class="col-12 col-md-5">
            <label for="exampleDataList" class="form-label">Source Station</label>
            <input class="form-control" type="text" name="from" [(ngModel)]="from" placeholder="From" (keyup)="getFromStationName()" required />
            <ul class="list-group">
                <li class="list-group-item" (click)="fromStationSelected(from)" *ngFor="let from of fromStations">{{from.name}}</li>
            </ul>
        </div>
        <div class="col-12 col-md-5">
            <label for="exampleDataList" class="form-label">Destination Station</label>
            <input class="form-control" type="text" name="to" [(ngModel)]="to" placeholder="To" (keyup)="getToStationName()" />
            <ul class="list-group">
                <li class="list-group-item" (click)="toStationSelected(to)" *ngFor="let to of toStations">{{to.name}}</li>
            </ul>
        </div>
        <div class="col-md-2 plan-margin">
            <button type="button" class="btn btn-primary" (click)="plan()">Plan</button>
        </div>
    </div>
    <div class="row mt-3" *ngIf="stationCount!=0">
        <div class="col-6 col-md-2">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-7">Stations</div>
                        <div class="col-5"><i class="material-symbols-outlined">train</i></div>
                    </div>
                    <div class="display-2">
                        {{stationCount}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-2">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">Distance (km)</div>
                        <div class="col-4"><span class="material-symbols-outlined">
                        pin_drop
                        </span></div>
                    </div>
                    <div class="display-4">
                        {{distance}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3" *ngIf="stationCount!=0">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4>Journey Stations</h4>
                    <div class="row">
                        <div class="col-12 col-md-4 mb-3" *ngFor="let st of result">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-10">{{st.name}}</div>
                                        <div class="col-2">
                                            <span class="material-symbols-outlined forward-arrow">
                                          arrow_forward
                                          </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-12 col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-10">Central</div>
                                        <div class="col-2">
                                            <span class="material-symbols-outlined forward-arrow">
                                        arrow_forward
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-10">Central</div>
                                        <div class="col-2">
                                            <span class="material-symbols-outlined forward-arrow">
                                      arrow_forward
                                      </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-10">Central</div>
                                        <div class="col-2">
                                            <span class="material-symbols-outlined forward-arrow">
                                    arrow_forward
                                    </span>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>