<div class="container">
    <h3>Travel Planner</h3>
    <div class="container">
        <div class="row g-3">
            <div class="col">
                <label for="" class="lable-font">Stations </label>
                <i class="material-symbols-outlined">train</i><input class="form-control" type="number" value="0" aria-label="Date" disabled readonly>
            </div>
            <div class="col">
                <label for="" class="lable-font">Change </label>
                <i class="material-symbols-outlined">transfer_within_a_station</i><input class="form-control" type="number" value="0" aria-label="Amount" disabled readonly>
            </div>
            <div class="col">
                <label for="" class="lable-font">Amount </label><i class="material-symbols-outlined">currency_rupee</i>
                <input class="form-control" type="number" value="0" aria-label="Amount" disabled readonly>
            </div>
        </div><br>
        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
            <div class="card-header">Green Line</div>
            <div class="card-body">
                <h5 class="card-title">Source</h5>
                <p>
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
            Stations
          </button>
                </p>
                <div class="collapse" id="collapseExample1">
                    <div class="card card-body" style="color: green;">
                    </div>
                </div>
                <h5 class="card-title">Change Station</h5>
            </div>
        </div>
        <!-- <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Change Here (Move towards Blue Line)</h5>
            </div>
        </div>
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Blue Line</div>
            <div class="card-body">
                <h5 class="card-title">Change Station</h5>
                <p>
                    <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Stations
          </button>
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body" style="color: blue;">
                    </div>
                </div>
                <h5 class="card-title">Destination Station</h5>
            </div>
        </div>
    </div> -->
        <a href="view-ticket.html"><button type="button" class="btn btn-primary">Purchese ticket</button></a>&nbsp;
        <a href="planner.html"><button type="button" class="btn btn-primary">Back To Planner</button></a>
    </div>